body {
  background-image: linear-gradient(to right, #040503, #e639da);
}

select {
  font-family: sans-serif;
  margin: 20px;
  padding: 0 0px 0 18px;
  width: 300px;
  height: 50px;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  background: #d99be0;
  color: rgb(6, 6, 6);
  font-size: 20px;
  letter-spacing: 1;
}

option {
  color: inherit;
  background-color: #d99be0;
}

.breed-select:hover {
  opacity: 0.8;
}

.cat-image {
  margin: 10px;
  height: 450px;
  border-radius: 2%;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.3);
}

.breed-name {
  font-family: sans-serif;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: bold;
  color: #f9f6f6;
  line-height: 1.25;
}

.loader {
  width: 90px;
  height: 90px;
  margin: 30px;
  font-size: 45px;
  color: #faf7f7;
  position: relative;
  text-indent: -9999em;
  overflow: hidden;
  border-radius: 50%;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}


.error {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 750;
  margin: 15px;
  color: #040404;
  line-height: 1.6;
  letter-spacing: 0.8;
}

.description {
  font-family: sans-serif;
  margin-bottom: 25px;
  color: #fcfafa;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.8;
}

.temperament {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #faf9f9;
  line-height: 1.6;
  letter-spacing: 0.8;
}


.inform-container {
  margin: 25px;
  max-width: 500px;
}